/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
}
.button-style {
  color: #dd1264;
  background-color: #ffffff;
  height: 40px;
  width: 200px;
  border-radius: 15px;
  border: none;
  margin-bottom: 25px;
}

.main-heading {
  color: #ffffff;
  font-family: Roboto;
  text-align: center;
}
.small-card-container {
  background-color: #fddddb;
  height: 70px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
